body {
    font-family: Arial, sans-serif;
  }
  .navbar-custom {
    background-color: #008080; 
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-nav .nav-link {
    color: #ffffff; 
  }
  .jumbotron-custom {
    background-image: url('../../assets/img1.webp'); 
    background-size: cover;
    color: black; 
    text-align: center;
    padding: 150px 0;
  }
  .feature-section {
    background-color: #f8f9fa; 
    padding: 50px 0;
  }
  .feature-icon {
    font-size: 3rem;
    color: #008080; 
  }