
<body>
<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid jumbotron-custom">
  <div class="container">
    <h1 class="display-4">Welcome to Our Company</h1>
    <p class="lead">We provide innovative solutions to meet your needs.</p>
  </div>
</div>

<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="display-4">About Us</h2>
        <p>
            IT Solution Company is a leading provider of comprehensive technological solutions tailored to meet the diverse needs of businesses across various industries.
             With a strong focus on innovation and customer satisfaction, IT Solution Company offers a wide range of services including software development, IT consulting,
              cybersecurity solutions, cloud computing, and digital transformation initiatives. By leveraging cutting-edge technologies and employing a team of skilled professionals, 
              the company delivers customized solutions that drive efficiency, enhance productivity, and improve overall business performance for its clients. With a commitment to staying ahead of the curve in a rapidly evolving technological landscape, 
              IT Solution Company continues to empower businesses to thrive in the digital age.</p>
      </div>
      <div class="col-lg-6">
        <img src="../../assets/img2.webp" alt="About Us Image" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section id="features" class="feature-section">
  <div class="container">
    <h2 class="text-center mb-5">Our Features</h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fas fa-cogs feature-icon"></i>
        <h4>Custom Solutions</h4>
        <p>We tailor our solutions to fit your specific needs.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-rocket feature-icon"></i>
        <h4>Fast Delivery</h4>
        <p>Our team works efficiently to deliver results on time.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-handshake feature-icon"></i>
        <h4>Excellent Support</h4>
        <p>We provide top-notch support to our clients.</p>
      </div>
    </div>
  </div>
</section>


</body>

