html,
body {
  height: 100%;
}

.gradient-bg {
    background: linear-gradient(to bottom right, #9cc5ee, #333c46);
  }
.container-fluid {
  padding: 0;
}

.custom-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form h2 {
  color: #fff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}
.success-message {
  background-color: #d4edda; 
  color: #155724; 
  padding: 10px; 
  border-radius: 5px; 
  margin-top: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border: 1px solid #c3e6cb; 
}
  
 

  
